body {
    min-height: 100vh;
    background-color: black;
    color: white;
    font-family: Marker Felt, fantasy;
}

#fullscreen {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;
}

#titles-container {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

h1 {
    font-size: 60px;
}

#rps-img-div {
    display: flex;
    /*flex: 1;*/
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    /* border: 3px solid yellow; FOR DEBUGGING */
    padding: 30px;
    /*transition: all .07s ease;*/
}

.rps-imgs {
    width: 170px;
    height: auto;
    border-radius: 3rem;
}

#scoreboard {
    display: flex;
    justify-self: flex-end;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    /*border: 3px solid yellow;  /*FOR DEBUGGING*/
}

h2 {
    font-size: 40px;
}


#scoreboard-lower {
    display: flex;
    gap: 50px;
    /*border: 3px solid red;  /*FOR DEBUGGING*/
}

h3 {
    font-size: 30px;
}

.score-sections {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

#player-subheader,
#computer-subheader{
    text-decoration: underline;
}



.highlight {
    width: 170px;
    box-shadow: 0 0 3rem white;
    border: 2px solid black;
    border-radius: 3rem;
    transform: scale(1.05);
}
