body {
    min-height: 100vh;
    background-color: black;
    color: white;
    font-family: Marker Felt, fantasy;
    caret-color: transparent;
}

#fullscreen {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;
}

#titles-container {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

h1 {
    font-size: 60px;
}

#rps-img-div {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    /*flex: 1;*/
    /*transition: all .07s ease;*/
    /*FOR DEBUGGING*/
    /* border: 3px solid yellow;  */
}

.choice-div {
    /*FOR DEBUGGING*/
    /* border: 3px solid red;  */
}

.rps-imgs {
    width: 170px;
    height: auto;
    border-radius: 3rem;
}

#scoreboard {
    display: flex;
    justify-self: flex-end;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    /*border: 3px solid yellow;  /*FOR DEBUGGING*/
}

h2 {
    font-size: 40px;
}


#scoreboard-lower {
    display: flex;
    gap: 50px;
    /*border: 3px solid red;  /*FOR DEBUGGING*/
}

h3 {
    font-size: 30px;
}

.score-sections {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

#player-subheader,
#computer-subheader{
    text-decoration: underline;
}



.highlight {
    width: 170px;
    box-shadow: 0 0 3rem white;
    border: 2px solid black;
    border-radius: 3rem;
    transform: scale(1.05);
}

#announcement {
    font-size: 20px;
}

#round {
    font-size: 20px;
    text-decoration: underline;   
}

#declaration-container {
    display: flex;
    flex-flow: column;
    gap: 50px;
}

#winner {
    font-size: 100px;
    gap: 20px;
}

#play-again-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

#yes-btn {
    border-radius: 5px;
    border: 2px solid white;
    display: inline-flex;
    width: fit-content;
    padding: 10px;
    font-size: 20px;
    color: white;
    background-color: black;
}

#yes-btn:hover {
    background-color: green;
}
